@charset "utf-8";
/* CSS Document */
	*{margin:0; padding:0;}
body{
	font-family:"Microsoft yahei" !important;
	-webkit-tap-highlight-color:rgba(0, 0, 0 , 0);
	background-color:#f3f3f3;
	font-size:4vw;
	color:#666;
	min-width:320px;
}
img{border:none;}
 ul{ list-style:none;}
.group_box{ /*width:320px;*/ height:auto; margin:0 auto;}
.active_time{ padding:0 10px; line-height:300%;}
.time_style{float:right; font-size:5vw;}
.group_explain{ width:100%; height:auto; background:#fff; border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;}
.group_con,.group05_con{ padding:5px 10px; overflow:hidden;}
.border_bottom{border-bottom:1px solid #bfbfbf;}
.border_right{border-right:1px solid #bfbfbf;}
.img-style{ vertical-align:middle;}
.group_buy_btn{ padding:10px 24px; background:#1aba72; border:none; cursor:pointer; color:#fff;}
.grtext_style{margin-top:25px; width:210px; height:32px; text-indent:6px;}
/*------弹出层样式---------*/
.popup_box{ width:280px; margin:0 auto; background:#fff; height:auto; border-radius:5px; overflow:hidden;}
.popup_title{ border-top-right-radius:5px;border-top-left-radius:5px; background:#1aba72; width:100%; height:90px;}
.group_titel_con{ padding-top:30px; text-align:center; font-size:24px; color:#fff;}
.group_con_left{ width:25px; height:244px; float:left;}
.group_con_right{ width:210px; height:auto; float:left; margin-left:5px;}
.group-buy_con{ padding:20px; overflow:hidden;}
.close_btn{ padding:6px 30px; border-radius:3px; background:#1aba71; border:none; color:#fff; font-size:15px; cursor:pointer; font-weight:bold;}
.close_btn_box{text-align:center; margin:10px 0 20px 0;}

/*---------团购价格---------*/
.group_price_box{ text-align:center; margin-top:30px; border-bottom:1px solid #bfbfbf;/*font-size:16px;*/ /*line-height:25px;*/}
.group_price_style{ font-size:20px; color:#1aba71; margin-bottom:30px;}
.group_succeed{ margin-top:5px;margin-bottom:15px;}
.group_price_btn01{ padding:6px 26px; font-size:15px; background:#f86356; border:none;border-radius:3px;color:#fff;cursor:pointer; font-weight:bold; }
.group_price_btn02{ padding:6px 10px; font-size:15px; background:#f98629; border:none;border-radius:3px;color:#fff;cursor:pointer; font-weight:bold; margin-left:4px;}
.group05_con td{ border-bottom:1px solid #bfbfbf; text-align:center; height:30px;}
.table_title{ font-size:4vw; color:#4c4c4c;}
.group06_con{ padding:10px 10px; overflow:hidden; font-size:15px; color:#4c4c4c;}


.UI05-new-box{ border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf; overflow:hidden;}
.ui05-con{ padding:10px; float:left; width:100%;}
.find_hd_dl {
float: left;
margin-left: 5px;
font-size: 14px;
width: 74%;
margin-top:10px;
}
.ui05-new-dd{float:left; color:#ee7310; font-weight:bold; font-size:4vw; margin-top:8%; width:100%;}
.ui05-new-price{ text-decoration: line-through; color:#737373; font-weight:normal;}
.ui05-new-car{float:right; border-left:1px solid #dfdfdf; width:20%; text-align:center;}

